[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
